* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(10, 10, 10, 0.9);
  color: #cdd6f4;
  border-bottom: 2px solid #89b4fa;
  transition: background-color 0.3s;
}

/* Workspaces */

#workspaces {
  padding: 10 20px;
  opacity: 1;
  border-radius: 10px;
}
#workspaces button {
  padding: 0 12px;
  color: #6c7086;
  background: transparent;
  transition: all 0.3s ease;
}

#workspaces button.focused {
  color: #89b4fa;
  border-bottom: 2px solid #89b4fa;
}

#workspaces button.active {
  color: #F2ffFF;
  border: none;
  background-color: rgba(30, 50, 80, 1);
  border-radius: 50px;
  border-bottom: 2px solid #89b4fa;
}
#workspaces button.urgent {
  color: #249999;
}



/* Modules */
#clock, #battery, #network, #custom-updates, #pulseaudio, #pulseaudio-slider,#tray,#custom-nowplaying {
  margin: 4px 5px;
  padding: 5px 12px;
  background: rgba(20, 20, 20, 0.8);
  border-radius: 12px;
  transition: background 0.3s;
}

#clock {
  font-weight: bold;
  box-shadow: 0 0 5px rgba(137, 180, 250, 0.3);
}

#battery.warning {
  background-color: rgba(243, 139, 168, 0.8);
  color: #11111b;
  animation: blink 1s infinite;
}

#battery.critical {
  background-color: rgba(243, 139, 168, 0.8);
  color: #11111b;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

#pulseaudio.muted {
  color: #f38ba8;
}

#network.disconnected {
  color: #f38ba8;
}

/* Slider */

#pulseaudio-slider slider {
  min-height: 0;
  min-width: 0;
  opacity: 0;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 100px;
  border-radius: 5px;
  background-color: #11111b;
}

#pulseaudio-slider highlight {
  min-width: 0;
  border-radius: 5px;
  background-color: #89b4fa;
  transition: background-color 0.3s;
}

/* Launcher */
#custom-launcher {
  font-size: 18px;
  padding: 0 16px;
  margin-left: 8px;
  margin-bottom: 5px;
  color: #89b4fa;
  background: rgba(20, 20, 20, 0.8);
  border-radius: 12px;
}
